<div class="main-header" [ngStyle]="{ 'background-image': 'url()' }">
  <mat-toolbar class="header-container">
    <mat-toolbar-row class="header-info">
      <div class="main-logo">
        <img src="assets/logoipsum-logo-9.svg" alt="Logo"/>
      </div>
      <div class="search-bar">
        <mat-icon class="search-icon">search</mat-icon>
        <input placeholder="Search bar" class="search-input"/>
      </div>
      <div class="client-info">
        <button mat-icon-button><mat-icon>shopping_cart</mat-icon></button>
        <button mat-icon-button><mat-icon class="account-icon">support_agent</mat-icon></button>
        <button mat-icon-button [mat-menu-trigger-for]="clientMenu"><mat-icon class="account-icon">account_circle</mat-icon></button>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="hyper-links">
      <button mat-button [mat-menu-trigger-for]="menu" class="link col" href=""><mat-icon class="link-icon">menu</mat-icon>categories</button>
      <a class="link col" href="">releases</a>
      <a class="link col" href="">highlighted</a>
      <a class="link col" href="">discounts</a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item> Category 1 </button>
  <button mat-menu-item> Category 2 </button>
</mat-menu>

<mat-menu #clientMenu="matMenu">
  <button mat-menu-item> Client info 1 </button>
  <button mat-menu-item> Client info 2 </button>
</mat-menu>
