<div class="main-header row">
  <div class="row">
    <div class="main-logo col">
      <img src="../assets/logoipsum-logo-9.svg" alt="Logo"/>
    </div>
    <div class="search-bar col"></div>
    <div class="cart col"> <mat-icon>shopping_cart</mat-icon> </div>
  </div>
  <div class="hyper-links row">
    <a class="link col" href=""><mat-icon class="link-icon">home</mat-icon>home</a>
    <a class="link col" href=""><mat-icon class="link-icon">store</mat-icon>products</a>
    <a class="link col" href=""><mat-icon class="link-icon">home</mat-icon>teste 3</a>
    <a class="link col" href=""><mat-icon class="link-icon">home</mat-icon>teste 4</a>
  </div>
</div>
<div class="main-body">
  <router-outlet></router-outlet>
</div>
